<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/style_eventos.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">

</head>

<body>

    <header>
		<nav class="navbar navbar-expand-lg fixed-top mb-5">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<div class="logo-image">
						<img src="../images/logo.png" class="img-fluid">
					</div>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><img src="/escola-prodigios-main - Copia (2)/images/list.svg" alt=""></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item text-white">
							<a class="nav-link" href="../index.html">Home</a>
						</li>
						<li class="nav-item text-white">
							<a class="nav-link active" href="../views/eventos.html">Eventos</a>
						</li>
						<li class="nav-item text-white">
							<a class="nav-link" href="../views/servicos.html">Serviços</a>
						</li>                       
						<li class="nav-item text-white">
							<a class="nav-link" href="../views/contato.html">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <section class="eventos-secao e-ensino-f1">
        <div class="container">
            <div class="row mb5">
                <h1>Eventos Ensino Fundamental 1</h1>
            </div>
        </div>

        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Default_Create_students_who_are_renewing_their_registration_2.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title"> Abertura/renovação das matrículas</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 5° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> de 5 a 8 janeiro de 2024 | 9h às
                                        17h</p>
                                    <p class="info description">Categoria: Ensino Fundamental 1, Ensino Fundamental 2 e
                                        Ensino Médio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Feira de Ciências e Inovação.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Feira de Ciências para Pequenos Cientistas</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 5° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 15 de Março de 2024 | 10h às 16h
                                    </p>
                                    <p class="info description">Uma oportunidade para os alunos do Ensino Fundamental 1
                                        apresentarem seus projetos científicos e experimentos em uma feira dedicada à
                                        curiosidade e à exploração.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Mostra Cultural.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Mostra Cultural</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 5° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 5 de maio de 2024 | 9h às 12h
                                    </p>
                                    <p class="info description">Apresentação de trabalhos culturais desenvolvidos pelos
                                        alunos ao longo do semestre, incluindo danças típicas, peças teatrais e
                                        exposições de arte.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Teatro de Marionetes.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title"> Teatro de Marionetes</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 3° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 10 de junho de 2024 | 15h às 17h
                                    </p>
                                    <p class="info description">Uma apresentação teatral com marionetes realizada pelos
                                        próprios alunos do Ensino Fundamental 1,
                                        explorando histórias e temas relevantes para essa faixa etária.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/matematica divertida.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Oficina de Matemática Divertida </p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 5° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i>5 a 10 de setembro | 14h às 16h
                                    </p>
                                    <p class="info description">Uma atividade lúdica e educativa focada em tornar o
                                        aprendizado da matemática mais divertido e acessível para os alunos do Ensino
                                        Fundamental 1, através de jogos e desafios.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Abc Formatura.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Formatura do Abc </p>
                                <div class="separator"></div>
                                <p class="info">Turma de 1° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 10 de dezembro de 2024 | 18:00 -
                                        22:00 </p>
                                    <p class="info description"> Cerimônia de formatura para os alunos que completaram o
                                        ciclo inicial de alfabetização, celebrando suas conquistas acadêmicas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <section class="eventos-secao e-ensino-f2">
        <div class="container">
            <div class="row mb5">
                <h1>Eventos Ensino Fundamental 2</h1>
            </div>
        </div>

        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Feira de ciencia ef2.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Feira de Ciências e Tecnologia</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 6° ao 9° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 22 de março de 2024 | 09:00 -
                                        14:00h </p>
                                    <p class="info description">Alunos apresentam projetos científicos inovadores.
                                        Participação de professores universitários e cientistas como jurados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Concurso de Redação.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Concurso de Redação</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 6° ao 9° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 18 de maio de 2024 | 08:00 -
                                        12:00</p>
                                    <p class="info description">Concurso de redação com temas variados, incentivando a
                                        escrita criativa e o pensamento crítico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Semana dos esportes.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Semana de Esportes</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 5° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 7 a 11 de junho de 2024</p>
                                    <p class="info description">ompetições esportivas entre as turmas, promovendo o
                                        espírito esportivo e a prática de atividades físicas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Default_Beautiful_teenage_girl_with_a_beautiful_body_writing_i_3.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Exposição de Arte e Cultura</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 6° ao 9° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 15 de agosto de 2024 | 10:00 -
                                        15:00h </p>
                                    <p class="info description">Alunos apresentam projetos científicos inovadores.
                                        Participação de professores universitários e cientistas como jurados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Palestra sobre sustentabilidade.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Palestra sobre Sustentabilidade</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 6° ao 9° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 28 de setembro de 2024 | 14:00 -
                                        16:00h</p>
                                    <p class="info description">Palestra educativa sobre sustentabilidade e meio
                                        ambiente, com participação de especialistas na área.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Formatura ensino fundamental 2.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Formatura Ensino Fundamental</p>
                                <div class="separator"></div>
                                <p class="info">Turma do 9° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 12 de dezembro de 2024 | 19:00 -
                                        23:00</p>
                                    <p class="info description">Cerimônia de formatura para os alunos do 9° ano,
                                        marcando a conclusão do Ensino Fundamental 2 e a preparação para o Ensino Médio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>




    <section class="eventos-secao e-ensino-medio">
        <div class="container">
            <div class="row mb5">
                <h1>Eventos Ensino Médio </h1>
            </div>
        </div>

        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Feira de Ciências e Inovação.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Feira de Ciências e Inovação</p>
                                <div class="separator"></div>
                                <p class="info">29 de março de 2024 | 10:00 - 15:00</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> Data: 15 de março</p>
                                    <p class="info description">Apresentação de projetos científicos e inovações
                                        tecnológicas desenvolvidas pelos alunos. Participação de empresas e
                                        universidades.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Simulado ENEM.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Simulado ENEM</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 3° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 5 de maio de 2024 | 08:00 -
                                        12:00</p>
                                    <p class="info description">Simulado preparatório para o ENEM, com questões de todas
                                        as áreas do conhecimento, ajudando os alunos a se prepararem para o exame
                                        oficial.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Semana de Profissões.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Semana de Profissões:</p>
                                <div class="separator"></div>
                                <p class="info">Turma do 3° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> Data: 15 de março</p>
                                    <p class="info description">Palestras e workshops sobre diversas profissões, com
                                        profissionais convidados para falar sobre suas carreiras e tirar dúvidas dos
                                        alunos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Debate Interescolar.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Debate Interescolar</p>
                                <div class="separator"></div>
                                <p class="info">Data: 18 de agosto de 2024 | 09:00 - 12:00h</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> Data: 15 de março</p>
                                    <p class="info description"> Debate entre alunos de diferentes escolas sobre temas
                                        atuais e relevantes, promovendo o desenvolvimento de habilidades de argumentação
                                        e pensamento crítico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/Seminário de Ciências Humanas.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Seminário de Ciências Humanas</p>
                                <div class="separator"></div>
                                <p class="info">Turmas do 1° ao 3° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i> 25 de setembro de 2024 | 14:00 -
                                        17:00h</p>
                                    <p class="info description">Seminário com apresentações e discussões sobre temas das
                                        ciências humanas, como história, geografia e sociologia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 mb-4">
                    <div class="item-container">
                        <div class="img-container">
                            <img src="../images/Imagens novas/Imagens novas/formatura.jpg"
                                alt="" srcset="">
                        </div>
                        <div class="body-container">
                            <div class="overlay"></div>
                            <div class="event-info">
                                <p class="title">Formatura do Ensino Médio</p>
                                <div class="separator"></div>
                                <p class="info">Turma do 3° ano</p>
                                <div class="additional-info">
                                    <p class="info"><i class="fas fa-map-marker-alt"></i> Escola Prodigios</p>
                                    <p class="info"><i class="far fa-calendar-alt"></i>20 de dezembro de 2024 | 19:00 -
                                        23:00</p>
                                    <p class="info description">Cerimônia de formatura para os alunos do 3° ano do
                                        Ensino Médio, celebrando a conclusão dessa etapa acadêmica e o início de novas
                                        jornadas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">

        <section class="footer-nav d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="container">
                <div class="row mb-1 d-flex justify-content-around text-center">
                    <p>Siga-nos em nossas redes sociais</p>
                </div>
                <div class="container">
					<div class="row mb-2 d-flex justify-content-center">

						<div class="col-1">
							<a href="https://www.facebook.com/share/q1Rg5Nzg1jx3VLZE/?mibextid=qi2Omg" class="me-4">
								<i class="fab fa-facebook-f"></i>
							</a>
						</div>

						<div class="col-1">
							<a href="https://www.instagram.com/escola.prodigios?igsh=dDlnajk2ODA5ZDQ1" class="me-4">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
						<div class="col-1">
							<a href="https://www.linkedin.com/in/escola-prod%C3%ADgios-744848301?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="me-4">
								<i class="fab fa-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
            </div>
        </section>

        <section>
            <div class="container text-center text-md-start">

                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Escola Prodígios
                        </h6>
                        <p>
                            A "Escola Prodigios" é uma instituição privada de ensino que se destaca pela excelência acadêmica e pelo compromisso com o desenvolvimento integral dos seus alunos. 
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                        <p><i class="fas fa-home me-3"></i>     
                            Rua das Acácias, 123
                            Bairro Jardim Primavera
                            Cidade: Nova Esperança
                            Estado: São Paulo
                            <li>CEP: 01234-567</li>
                            
                            </p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            eprodigio779@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i>Telefone: (85)992695631</p>

                    </div>
                </div>
            </div>
        </section>
    </footer>

    <div class="container-fluid footer-bottom">
        <div class="row mb-1 d-flex justify-content-around text-center p-4 footer-bottom-text">
            © 2024 Todos os direitos reservados
        </div>
    </div>


    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

</body>

</html>