<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/style_servicos.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg fixed-top mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <div class="logo-image">
                        <img src="../images/logo.png" class="img-fluid">
                    </div>
                </a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="/escola-prodigios-main - Copia (2)/images/list.svg" alt=""></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-white">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link" href="../views/eventos.html">Eventos</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link active" href="../views/servicos.html">Serviços</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link" href="../views/contato.html">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Serviços-->
    <div class="container-fluid">

        <div class="container servicos-title">
            <h1 class="text-center">Conheça os Nossos Serviços</h1>
        </div>

        <div class="container">
            <div class="row mb-5 justify-content-center">

                <div class="col">
                    <div class="card shadow" style="max-width: 540px;">
                        <img src="../images/teacher-35.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Fundamental I</h3>
                            <hr class="mx-auto w-75">
                            <p><strong>Bem-vindo à nossa escola Prodígios</strong> onde a jornada educacional dos seus
                                filhos é nossa prioridade número um!</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalFundamental1">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow" style="max-width: 540px;max-height: 1080px;">
                        <img src="../images/teacher-12.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Fundamental II</h3>
                            <hr class="mx-auto w-75">
                            <p><strong>Experiência educacional mais completa:</strong> Ao proporcionar um ambiente de
                                aprendizagem contínuo ao longo do dia...</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalFundamental2">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow" style="max-width: 540px;max-height: 1080px;">
                        <img src="../images/2201570.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Ensino Médio</h3>
                            <hr class="mx-auto w-75">
                            <p><strong>O ensino médio integral oferece uma experiência educacional crucial</strong>,
                                para a formação dos alunos...</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalMedio">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <img src="../images/online-class-42.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Curso de Alemão</h3>
                            <hr class="mx-auto w-75">
                            <p><strong>Descrição:</strong> Seja para viagens, estudos ou oportunidades de carreira,
                                aprender alemão pode abrir muitas portas...</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalAlemao">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row mb-5 justify-content-center">
                <!-- Curso de Inglês -->
                <div class="col">
                    <div class="card shadow">
                        <img src="../images/toronto-25.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Curso de Inglês</h3>
                            <hr class="mx-auto w-75">
                            <ul>
                                <li>Carga Horária: 60 horas</li>
                                <li>Horário: Segundas e Quartas, das 18:00 às 20:00</li>
                                <!-- <p><strong>Descrição:</strong> Este curso abrange desde o nível iniciante até o avançado, com foco na comunicação oral, compreensão auditiva, leitura e escrita em inglês. Aulas dinâmicas e interativas são projetadas para melhorar suas habilidades linguísticas de forma gradual e eficaz.</p> -->
                            </ul>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalIngles">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Curso de Francês -->
                <div class="col">
                    <div class="card shadow">
                        <img src="../images/paris-33.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Curso de Francês</h3>
                            <hr class="mx-auto w-75">
                            <ul>
                                <li>Carga Horária: 70 horas</li>
                                <li>Horário: Segundas, Quartas e Sextas, das 16:00 às 18:00</li>
                                <!-- <p><strong>Descrição:</strong> Explore a elegância e o charme da língua francesa neste curso abrangente. Desde a pronúncia até a gramática e vocabulário, você será imerso na cultura francófona enquanto aprimora suas habilidades linguísticas. As aulas são projetadas para proporcionar um ambiente estimulante para aprendizado e prática contínua.</p> -->
                            </ul>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalFrances">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Curso de Espanhol -->
                <div class="col">
                    <div class="card shadow">
                        <img src="../images/europe-24.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Curso de Espanhol</h3>
                            <hr class="mx-auto w-75">
                            <ul>
                                <li>Carga Horária: 50 horas</li>
                                <li>Horário: Terças e Quintas, das 19:00 às 21:00</li>
                                <!-- <p><strong>Descrição:</strong> Aprenda espanhol de forma divertida e envolvente! Este curso oferece uma introdução abrangente à língua espanhola, desde cumprimentos básicos até conversas mais complexas. Com ênfase na prática oral, você desenvolverá confiança para se comunicar em espanhol em diversas situações do dia a dia.</p> -->
                            </ul>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalEspanhol">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Curso de Mandarim -->
                <div class="col">
                    <div class="card shadow">
                        <img src="../images/china-4.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Curso de Mandarim</h3>
                            <hr class="mx-auto w-75">
                            <ul class="text-left">
                                <li>Carga Horária: 80 horas</li>
                                <li>Horário: Terças e Sextas, das 17:00 às 19:00</li>
                                <!-- <p><strong>Descrição:</strong> Descubra a beleza e a riqueza da língua mandarim neste curso desafiador e estimulante. Desde os fundamentos da escrita e pronúncia até a compreensão de caracteres complexos, você será guiado por um processo de aprendizagem gradual. As aulas são conduzidas por instrutores nativos experientes, oferecendo uma imersão autêntica na língua e cultura chinesas.</p> -->
                            </ul>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalMandarim">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5 justify-content-center">

                <!-- Card Matemática -->
                <div class="col">
                    <div class="card shadow" style="max-width: 540px;">
                        <img src="../images/data-center-1-89.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Matemática</h3>
                            <hr class="mx-auto w-75">
                            <p>O curso tem duração de 12 meses, com aulas de segunda a sexta-feira pela manhã ou à
                                tarde, totalizando aproximadamente 600 horas de estudo. O curso abrange o ensino básico
                                e intermediário.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalMatematica">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card Natureza -->
                <div class="col">
                    <div class="card shadow" style="max-width: 540px;">
                        <img src="../images/science-1-89.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Natureza</h3>
                            <hr class="mx-auto w-75">
                            <p>O curso tem duração de 9 meses, com aulas intensivas de segunda a sábado, totalizando
                                mais de 900 horas de estudo. O curso de natureza abrange apenas o ensino básico.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalNatureza">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card Humanas -->
                <div class="col">
                    <div class="card shadow" style="max-width: 540px;">
                        <img src="../images/user-group-43.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Humanas</h3>
                            <hr class="mx-auto w-75">
                            <p>O curso tem duração de 12 meses, com aulas de segunda a sexta-feira pela manhã ou à
                                tarde, totalizando aproximadamente 600 horas de estudo. O curso de humanas vai do nível
                                básico ao avançado.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalHumanas">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card Linguagens -->
                <div class="col">
                    <div class="card shadow" style="max-width: 540px;">
                        <img src="../images/book-lover-44 (1).png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="text-center">Linguagens</h3>
                            <hr class="mx-auto w-75">
                            <p>O curso tem duração de 10 meses, com aulas de segunda a sexta-feira, totalizando cerca de
                                800 horas de estudo. O curso de linguagens vai do nível básico ao intermediário.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalLinguagens">
                                Leia mais
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <!-- Modal Ensino Fundamental 1 -->
    <div class="modal fade" id="modalFundamental1" tabindex="-1" aria-labelledby="modalFundamental1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFundamental1Label">Ensino Fundamental 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bem-vindo à nossa escola Prodígios, onde a jornada educacional dos seus filhos é nossa
                        prioridade número um!</p>
                    <p>Nosso serviço abrange uma abordagem holística para o desenvolvimento acadêmico, social e
                        emocional das crianças em seus primeiros anos de aprendizado.</p>
                    <p><strong>Professores qualificados:</strong> Nossa equipe é composta por educadores apaixonados
                        e altamente qualificados, dedicados a fornecer um ambiente de aprendizado estimulante e
                        encorajador.</p>
                    <p><strong>Ensino Personalizado:</strong> Reconhecemos que cada criança tem um estilo de
                        aprendizagem único. Portanto, adotamos uma abordagem personalizada para garantir que todas
                        as crianças recebam apoio adequado para alcançar seu pleno potencial.</p>
                    <p><strong>Atividades Extracurriculares:</strong> Oferecemos uma variedade de atividades
                        extracurriculares que complementam o currículo acadêmico, incluindo esportes, música, arte e
                        teatro, proporcionando aos alunos uma educação completa e diversificada.</p>
                    <p><strong>Foco no Desenvolvimento Socioemocional:</strong> Valorizamos o desenvolvimento não
                        apenas acadêmico, mas também socioemocional. Nosso programa inclui atividades e práticas que
                        ajudam as crianças a desenvolver habilidades de resolução de problemas, empatia e
                        autoconsciência.</p>
                    <p><strong>Parceria com os Pais:</strong> Reconhecemos a importância da parceria entre escola e
                        família. Mantemos uma comunicação aberta e transparente com os pais, incentivando sua
                        participação ativa na educação de seus filhos.</p>
                    <p>Nossos serviços oferecem um excelente custo-benefício, garantindo uma educação de qualidade
                        acessível a todas as famílias.</p>
                    <p>Na nossa escola de Ensino Fundamental 1, priorizamos o bem-estar e o sucesso acadêmico de
                        cada criança, proporcionando uma base sólida para seu futuro educacional.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ensino Fundamental 2 -->
    <div class="modal fade" id="modalFundamental2" tabindex="-1" aria-labelledby="modalFundamental2Label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFundamental2Label">Ensino Fundamental 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Experiência educacional mais completa: Ao proporcionar um ambiente de aprendizagem contínuo
                        ao longo do dia, os alunos têm mais tempo para explorar assuntos em profundidade e
                        participar de atividades extracurriculares que complementam seu desenvolvimento acadêmico.
                    </p>
                    <p>Maior oportunidade de socialização: O período integral permite que os alunos formem laços
                        mais fortes com seus colegas e professores, promovendo um senso de comunidade e apoio mútuo.
                    </p>
                    <p><strong>Acompanhamento individualizado:</strong> Com mais tempo disponível, os professores
                        podem oferecer um acompanhamento mais próximo e individualizado a cada aluno, identificando
                        suas necessidades específicas e ajustando o ensino de acordo.</p>
                    <p><strong>Desenvolvimento de habilidades socioemocionais:</strong> As atividades
                        extracurriculares e o tempo adicional na escola ajudam os alunos a desenvolver habilidades
                        importantes, como trabalho em equipe, liderança, resolução de conflitos e empatia.</p>
                    <p><strong>Estímulo à autonomia e responsabilidade:</strong> A rotina diária em período integral
                        incentiva os alunos a desenvolverem maior autonomia e responsabilidade em relação aos seus
                        estudos e atividades.</p>
                    <p>Ambiente seguro e estruturado: Oferecemos um ambiente seguro e estruturado, onde os alunos
                        podem se concentrar em aprender e crescer, longe das distrações e riscos que podem estar
                        presentes fora da escola.</p>
                    <p>Enriquecimento cultural e esportivo: Nossos programas incluem uma variedade de atividades
                        culturais e esportivas que ajudam a desenvolver habilidades diversas e a descobrir novos
                        interesses e talentos.</p>
                    <p>Parceria com as famílias: Reconhecemos a importância da colaboração entre escola e família e
                        mantemos uma comunicação aberta e constante com os pais para garantir o sucesso dos alunos.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ensino Médio -->
    <div class="modal fade" id="modalMedio" tabindex="-1" aria-labelledby="modalMedioLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMedioLabel">Ensino Médio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Um ensino médio integral oferece uma experiência educacional crucial, moldando os alunos
                        durante os últimos anos de sua educação básica. Aqui estão algumas das vantagens:</p>
                    <p>Preparo para o ensino superior: O período integral permite um foco maior na preparação para
                        exames de admissão, vestibulares e ENEM, garantindo que os alunos estejam bem preparados
                        para os desafios do ensino superior.</p>
                    <p>Desenvolvimento de habilidades críticas: Além do conteúdo acadêmico, nossos programas
                        integrais enfatizam o desenvolvimento de habilidades essenciais como pensamento crítico,
                        resolução de problemas, comunicação e trabalho em equipe.</p>
                    <p><strong>Atividades extracurriculares:</strong> Oferecemos uma ampla gama de atividades
                        extracurriculares que ajudam a desenvolver talentos e interesses individuais, desde esportes
                        até artes e tecnologia.</p>
                    <p><strong>Ambiente de aprendizado enriquecedor:</strong> O período integral proporciona um
                        ambiente de aprendizado contínuo e estruturado, onde os alunos podem se concentrar em seus
                        estudos com o apoio constante de professores e colegas.</p>
                    <p><strong>Foco no desenvolvimento pessoal:</strong> Nossos programas incluem orientação e apoio
                        para o desenvolvimento pessoal e emocional dos alunos, preparando-os para serem cidadãos
                        responsáveis e bem-sucedidos.</p>
                    <p>Maior envolvimento com a comunidade: Incentivamos o envolvimento dos alunos em projetos
                        comunitários e voluntariado, promovendo um senso de responsabilidade social e cidadania
                        ativa.</p>
                    <p><strong>Parceria com as famílias:</strong> Trabalhamos em estreita colaboração com as
                        famílias para garantir que cada aluno receba o apoio necessário para alcançar seu pleno
                        potencial.</p>
                    <p>Nosso ensino médio integral é projetado para proporcionar uma educação completa e
                        equilibrada, preparando os alunos para os desafios acadêmicos e pessoais que enfrentarão no
                        futuro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Curso de Alemão -->
    <div class="modal fade" id="modalAlemao" tabindex="-1" aria-labelledby="modalAlemaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlemaoLabel">Curso de Alemão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Descrição: Seja para viagens, estudos ou oportunidades de carreira, aprender alemão pode
                        abrir muitas portas. Nosso curso integral de alemão oferece:</p>
                    <p>Imersão total: Aulas em período integral que proporcionam uma imersão completa no idioma,
                        acelerando o processo de aprendizado.</p>
                    <p>Professores nativos: Nossos professores são falantes nativos de alemão, garantindo uma
                        experiência de aprendizado autêntica e eficaz.</p>
                    <p><strong>Abordagem comunicativa:</strong> Focamos na comunicação prática, ajudando os alunos a
                        desenvolverem suas habilidades de conversação de forma natural e confiante.</p>
                    <p><strong>Materiais atualizados:</strong> Utilizamos materiais didáticos modernos e
                        atualizados, que refletem o uso real do idioma no dia a dia.</p>
                    <p><strong>Atividades culturais:</strong> Incluímos atividades culturais que enriquecem o
                        aprendizado, como filmes, música, literatura e culinária alemã.</p>
                    <p><strong>Preparação para exames:</strong> Oferecemos preparação para exames de proficiência em
                        alemão, como o Goethe-Zertifikat, reconhecidos internacionalmente.</p>
                    <p><strong>Ambiente de apoio:</strong> Criamos um ambiente de aprendizado acolhedor e motivador,
                        onde os alunos se sentem à vontade para praticar e crescer.</p>
                    <p>Nosso curso integral de alemão é ideal para quem deseja alcançar a fluência de maneira rápida
                        e eficiente, com o apoio de uma equipe experiente e dedicada.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Curso de Inglês -->
    <div class="modal fade" id="modalIngles" tabindex="-1" aria-labelledby="modalInglesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInglesLabel">Curso de Inglês</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Este curso abrange desde o nível iniciante até o avançado, com foco na comunicação oral,
                        compreensão auditiva, leitura e escrita em inglês. Aulas dinâmicas e interativas são
                        projetadas para melhorar suas habilidades linguísticas de forma gradual e eficaz.</p>
                    <p><strong>Carga Horária:</strong> 60 horas</p>
                    <p><strong>Horário:</strong> Segundas e Quartas, das 18:00 às 20:00</p>
                    <p><strong>Abordagem Comunicativa:</strong> Focamos na comunicação prática, ajudando os alunos a
                        desenvolverem suas habilidades de conversação de forma natural e confiante.</p>
                    <p><strong>Materiais Atualizados:</strong> Utilizamos materiais didáticos modernos e
                        atualizados, que refletem o uso real do idioma no dia a dia.</p>
                    <p><strong>Atividades Culturais:</strong> Incluímos atividades culturais que enriquecem o
                        aprendizado, como filmes, música e literatura.</p>
                    <p><strong>Preparação para Exames:</strong> Oferecemos preparação para exames de proficiência
                        reconhecidos internacionalmente.</p>
                    <p><strong>Ambiente de Apoio:</strong> Criamos um ambiente de aprendizado acolhedor e motivador,
                        onde os alunos se sentem à vontade para praticar e crescer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Curso de Francês -->
    <div class="modal fade" id="modalFrances" tabindex="-1" aria-labelledby="modalFrancesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFrancesLabel">Curso de Francês</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Explore a elegância e o charme da língua francesa neste curso abrangente. Desde a pronúncia
                        até a gramática e vocabulário, você será imerso na cultura francófona enquanto aprimora suas
                        habilidades linguísticas. As aulas são projetadas para proporcionar um ambiente estimulante
                        para aprendizado e prática contínua.</p>
                    <p><strong>Carga Horária:</strong> 70 horas</p>
                    <p><strong>Horário:</strong> Segundas, Quartas e Sextas, das 16:00 às 18:00</p>
                    <p><strong>Professores Nativos:</strong> Nossos professores são falantes nativos de francês,
                        garantindo uma experiência de aprendizado autêntica e eficaz.</p>
                    <p><strong>Materiais Atualizados:</strong> Utilizamos materiais didáticos modernos e
                        atualizados, que refletem o uso real do idioma no dia a dia.</p>
                    <p><strong>Atividades Culturais:</strong> Incluímos atividades culturais que enriquecem o
                        aprendizado, como filmes, música, literatura e culinária francesa.</p>
                    <p><strong>Preparação para Exames:</strong> Oferecemos preparação para exames de proficiência
                        reconhecidos internacionalmente.</p>
                    <p><strong>Ambiente de Apoio:</strong> Criamos um ambiente de aprendizado acolhedor e motivador,
                        onde os alunos se sentem à vontade para praticar e crescer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Curso de Espanhol -->
    <div class="modal fade" id="modalEspanhol" tabindex="-1" aria-labelledby="modalEspanholLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEspanholLabel">Curso de Espanhol</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Aprenda espanhol de forma divertida e envolvente! Este curso oferece uma introdução
                        abrangente à língua espanhola, desde cumprimentos básicos até conversas mais complexas. Com
                        ênfase na prática oral, você desenvolverá confiança para se comunicar em espanhol em
                        diversas situações do dia a dia.</p>
                    <p><strong>Carga Horária:</strong> 50 horas</p>
                    <p><strong>Horário:</strong> Terças e Quintas, das 19:00 às 21:00</p>
                    <p><strong>Professores Nativos:</strong> Nossos professores são falantes nativos de espanhol,
                        garantindo uma experiência de aprendizado autêntica e eficaz.</p>
                    <p><strong>Materiais Atualizados:</strong> Utilizamos materiais didáticos modernos e
                        atualizados, que refletem o uso real do idioma no dia a dia.</p>
                    <p><strong>Atividades Culturais:</strong> Incluímos atividades culturais que enriquecem o
                        aprendizado, como filmes, música, literatura e culinária espanhola.</p>
                    <p><strong>Preparação para Exames:</strong> Oferecemos preparação para exames de proficiência
                        reconhecidos internacionalmente.</p>
                    <p><strong>Ambiente de Apoio:</strong> Criamos um ambiente de aprendizado acolhedor e motivador,
                        onde os alunos se sentem à vontade para praticar e crescer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Curso de Mandarim -->
    <div class="modal fade" id="modalMandarim" tabindex="-1" aria-labelledby="modalMandarimLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMandarimLabel">Curso de Mandarim</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Descubra a beleza e a riqueza da língua mandarim neste curso desafiador e estimulante. Desde
                        os fundamentos da escrita e pronúncia até a compreensão de caracteres complexos, você será
                        guiado por um processo de aprendizagem gradual. As aulas são conduzidas por instrutores
                        nativos experientes, oferecendo uma imersão autêntica na língua e cultura chinesas.</p>
                    <p><strong>Carga Horária:</strong> 80 horas</p>
                    <p><strong>Horário:</strong> Terças e Sextas, das 17:00 às 19:00</p>
                    <p><strong>Professores Nativos:</strong> Nossos professores são falantes nativos de mandarim,
                        garantindo uma experiência de aprendizado autêntica e eficaz.</p>
                    <p><strong>Materiais Atualizados:</strong> Utilizamos materiais didáticos modernos e
                        atualizados, que refletem o uso real do idioma no dia a dia.</p>
                    <p><strong>Atividades Culturais:</strong> Incluímos atividades culturais que enriquecem o
                        aprendizado, como filmes, música, literatura e culinária chinesa.</p>
                    <p><strong>Preparação para Exames:</strong> Oferecemos preparação para exames de proficiência
                        reconhecidos internacionalmente.</p>
                    <p><strong>Ambiente de Apoio:</strong> Criamos um ambiente de aprendizado acolhedor e motivador,
                        onde os alunos se sentem à vontade para praticar e crescer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Matemática -->
    <div class="modal fade" id="modalMatematica" tabindex="-1" aria-labelledby="modalMatematicaLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMatematicaLabel">Matemática</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O curso de Matemática tem duração de 12 meses, com aulas de segunda a sexta-feira pela manhã ou à
                        tarde, totalizando aproximadamente 600 horas de estudo.</p>
                    <p>O curso abrange o ensino básico e intermediário, fornecendo uma base sólida e preparando os
                        alunos para os desafios dos exames vestibulares.</p>
                    <p><strong>Conteúdo abrangente:</strong> Inclui tópicos fundamentais e avançados de matemática, como
                        álgebra, geometria, trigonometria e cálculo.</p>
                    <p><strong>Metodologia prática:</strong> Focamos na resolução de problemas e exercícios, reforçando
                        o aprendizado teórico com aplicações práticas.</p>
                    <p><strong>Simulados regulares:</strong> Realizamos simulados periódicos para avaliar o progresso
                        dos alunos e identificar áreas que precisam de reforço.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Natureza -->
    <div class="modal fade" id="modalNatureza" tabindex="-1" aria-labelledby="modalNaturezaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNaturezaLabel">Natureza</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O curso de Natureza tem duração de 9 meses, com aulas intensivas de segunda a sábado, totalizando
                        mais de 900 horas de estudo.</p>
                    <p>O curso abrange apenas o ensino básico, focando em proporcionar uma compreensão sólida dos
                        fundamentos das ciências naturais.</p>
                    <p><strong>Conteúdo diversificado:</strong> Inclui biologia, química e física, cobrindo os
                        principais tópicos exigidos nos vestibulares.</p>
                    <p><strong>Aulas práticas:</strong> Oferecemos experimentos e atividades práticas para ilustrar
                        conceitos teóricos e engajar os alunos.</p>
                    <p><strong>Acompanhamento constante:</strong> Professores especializados acompanham de perto o
                        desempenho dos alunos, fornecendo suporte contínuo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Humanas -->
    <div class="modal fade" id="modalHumanas" tabindex="-1" aria-labelledby="modalHumanasLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalHumanasLabel">Humanas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O curso de Humanas tem duração de 12 meses, com aulas de segunda a sexta-feira pela manhã ou à
                        tarde, totalizando aproximadamente 600 horas de estudo.</p>
                    <p>O curso abrange do nível básico ao avançado, preparando os alunos para uma ampla variedade de
                        tópicos em ciências humanas.</p>
                    <p><strong>Disciplinas abrangentes:</strong> Inclui história, geografia, sociologia e filosofia,
                        proporcionando uma visão integrada e crítica das ciências humanas.</p>
                    <p><strong>Discussões e debates:</strong> Incentivamos a participação ativa dos alunos em discussões
                        e debates, desenvolvendo suas habilidades de argumentação e pensamento crítico.</p>
                    <p><strong>Estudos de caso:</strong> Utilizamos estudos de caso para conectar teorias a situações
                        reais, facilitando a compreensão e aplicação prática do conhecimento.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Linguagens -->
    <div class="modal fade" id="modalLinguagens" tabindex="-1" aria-labelledby="modalLinguagensLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLinguagensLabel">Linguagens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O curso de Linguagens tem duração de 10 meses, com aulas de segunda a sexta-feira, totalizando
                        cerca de 800 horas de estudo.</p>
                    <p>O curso abrange do nível básico ao intermediário, focando no desenvolvimento de habilidades de
                        leitura, escrita e interpretação de textos.</p>
                    <p><strong>Conteúdo diversificado:</strong> Inclui gramática, literatura, redação e análise textual,
                        preparando os alunos para exames de vestibular e ENEM.</p>
                    <p><strong>Oficinas de redação:</strong> Realizamos oficinas práticas de redação para aprimorar a
                        escrita dos alunos e desenvolver técnicas eficazes de produção textual.</p>
                    <p><strong>Leituras obrigatórias:</strong> Analisamos obras literárias exigidas nos exames,
                        promovendo a compreensão crítica e a interpretação de textos literários.</p>
                    <p><strong>Simulados e exercícios:</strong> Aplicamos simulados e exercícios regularmente para
                        avaliar o progresso dos alunos e ajustar o ensino conforme necessário.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">

        <section class="footer-nav d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="container">
                <div class="row mb-1 d-flex justify-content-around text-center">
                    <p>Siga-nos em nossas redes sociais</p>
                </div>
                <div class="container">
					<div class="row mb-2 d-flex justify-content-center">

						<div class="col-1">
							<a href="https://www.facebook.com/share/q1Rg5Nzg1jx3VLZE/?mibextid=qi2Omg" class="me-4">
								<i class="fab fa-facebook-f"></i>
							</a>
						</div>

						<div class="col-1">
							<a href="https://www.instagram.com/escola.prodigios?igsh=dDlnajk2ODA5ZDQ1" class="me-4">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
						<div class="col-1">
							<a href="https://www.linkedin.com/in/escola-prod%C3%ADgios-744848301?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="me-4">
								<i class="fab fa-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
            </div>
        </section>

        <section>
            <div class="container text-center text-md-start">

                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Escola Prodígios
                        </h6>
                        <p>
                            A "Escola Prodigios" é uma instituição privada de ensino que se destaca pela excelência acadêmica e pelo compromisso com o desenvolvimento integral dos seus alunos. !
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                        <p><i class="fas fa-home me-3"></i>     
                            Rua das Acácias, 123
                            Bairro Jardim Primavera
                            Cidade: Nova Esperança
                            Estado: São Paulo
                            <li>CEP: 01234-567</li>
                            
                            </p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            eprodigio779@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i>Telefone: (85)992695631</p>

                    </div>
                </div>
            </div>
        </section>
    </footer>

    <div class="container-fluid footer-bottom">
        <div class="row mb-1 d-flex justify-content-around text-center p-4 footer-bottom-text">
            © 2024 Todos os direitos reservados
        </div>
    </div>

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

</body>

</html>